* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat,'Montserrat-ExstraLight' ,sans-serif;
    background-color: #222327;
}
p,
label,
h1,
h2,
h3,
h4,
h5,
h6{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    text-shadow: 0 0 3px #0e2531;
}
ul,
li {
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 15px 0px;
    justify-content:flex-end;
    color: #fff;
    font-size: 16px;
    font-family: Montserrat,'Montserrat-ExstraLight' ,sans-serif;
    font-weight: 300;
}

a {
    color: #3cbaf5;
    font-weight: bold;
    text-decoration: none;
}

p {
    margin: 10px 0;
}
.form__p {
    display: flex;
    padding: 30px;
    flex-direction: column;
    width: 55vh;
    height: 80vh;
    background-color: #1a1b1d;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #101113;
}
form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}
input:focus{
    box-shadow: 0 0 15px #3cbaf5; /*поменять цвет*/
}
input._error{
    box-shadow: 0 0 15px #f3144f;;
}

button {
    /* padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer; */
    outline: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    background-color: #3cbaf5;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 5px 0 #1a1b1d;
    transition: background-color 0.5s ease 0s;
    position: relative;
    top: 0;
}
button:hover{
    background-color: #3672c0;
}
button:active{
    top: 3px;
    box-shadow: 0 2px 0 #1a1b1d; /* поменять цвет*/
}
.msg {
    border: 2px solid #ffa908;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.logout {
    color: #f3144f;
    cursor: pointer;
    font-size: 20px;
    padding: 15px 0px;
    text-shadow: 2px 2px 3px #1a1b1d;
}
img{
    border-radius: 20px;
    box-shadow: 1px 1px 10px #101113;
}
